* {
    font-family: "JetBrains Mono", monospace;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #000;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.left, .right {
    margin: 0 auto;
    /* width: 80%; */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}

#preview {
    margin: 0 auto;
    width: 80%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    gap: 1em;
}

#result, #preview-result {
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    gap: 1em;
}

#preview-container > * {
    width: 80%;
}

.left, form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
}

form > * {
    width: 80%;
}

textarea {
    height: 10em;
    padding: 1em;
    border-radius: 1em;
    border: 1px solid #CCC;
    resize: none;
}

button {
    width: 50%;
    padding: 1em;
    border-radius: 1em;
    border: 1px solid #CCC;
    background-color: #FFF;
    cursor: pointer;
}

button:hover {
    background-color: #CCC;
    transition: 0.3s;
}

#preview {
    margin-top: 1em;

}